<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag 'filetree.css' %>
    <%= stylesheet_link_tag 'filetype.css' %>
    <%= stylesheet_link_tag 'icons.css' %>

    <%= stylesheet_link_tag '../ext/resources/css/ext-all.css' %>
	
	<%= javascript_include_tag "../ext/adapter/ext/ext-base.js" %>
	<%= javascript_include_tag "../ext/ext-all.js" %>
	
	<%= javascript_include_tag "Ext.ux.FileTreeMenu.js" %>
	<%= javascript_include_tag "Ext.ux.FileTreePanel.js" %>
	<%= javascript_include_tag "Ext.ux.FileUploader.js" %>
	<%= javascript_include_tag "Ext.ux.form.BrowseButton.js" %>
	<%= javascript_include_tag "Ext.ux.UploadPanel.js" %>
	<%= javascript_include_tag "/filetree/filetree.js" %>

	 <title id="page-title">Ext.ux.FileTreePanel Extension by Saki</title>
</head>

<body>
	<div id="treepanel" style="width:500px;height:300px;"></div>
	<br /><br /><br /><br /><br /><br />
	<%= form_tag({:action => 'filetree'}, :multipart => true)%>
		 <input type="file" name="file" />
		 <input type="submit" name="Upload" />
	</form>
</body>
</html>
<!-- eof -->
