<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head id="head">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Webshow - Graphic User Interface</title>
        <style type="text/css" media="all">
            #loading-mask {
                position: absolute;
				display:none;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 20000;
                background: #fff;
            }
			
            #start-loading-mask {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 20000;
                background: white url('/images/smoothies.jpg') no-repeat right bottom;
            }
            
            #start-loading, #loading{
                position: absolute;
                left: 40%;
                top: 40%;
                padding: 2px;
                z-index: 20001;
                height: auto;
            }
			
			#loading{
				display:none;
				background:white;
				border:1px solid #bbb;
			}
            
            #start-loading a, #loading a {
                color: #225588;
            }
            
            #start-loading .loading-indicator, #loading .loading-indicator {
                background: transparent;
                color: #444;
                font: bold 13px tahoma, arial, helvetica;
                padding: 10px;
                margin: 0;
                height: auto;
            }
            
            #start-loading-msg, #loading-msg {
                font: normal 10px arial, tahoma, sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="loading-mask">
        </div>
        <div id="loading">
            <div class="loading-indicator">
                <img src="/images/smooffice_loading.gif" width="32" height="32" style="margin-right:8px;float:left;vertical-align:top;"/><span id="loading-title">Smooffice Lemon 1.0</span>
                <br/>
                <span id="loading-msg"></span>
            </div>
        </div>
		
        <div id="start-loading-mask">
        </div>
        <div id="start-loading">
            <div class="loading-indicator">
                <img src="/images/smooffice_loading.gif" width="32" height="32" style="margin-right:8px;float:left;vertical-align:top;"/>Smooffice Lemon 1.0
                <br/>
                <span id="start-loading-msg">Loading styles and images...</span>
            </div>
        </div>
        <%= stylesheet_link_tag '/ext/resources/css/ext-all.css' %>
        <%= stylesheet_link_tag 'netshows.css' %>
        <%= stylesheet_link_tag 'filetree.css' %>
        <%= stylesheet_link_tag 'filetype.css' %>
        <%= stylesheet_link_tag 'icons.css' %>
        <%= stylesheet_link_tag 'spinner.css' %>
        <%= stylesheet_link_tag "http://www.google.com/uds/css/gsearch.css" %>
        <%= stylesheet_link_tag "http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css" %>
        <!--Loading Ext Base-->
        <script type="text/javascript">document.getElementById('start-loading-msg').innerHTML = 'Loading Core API...';
        </script>
        <%= javascript_include_tag "/ext/adapter/ext/ext-base.js" %>
        <!--Loading Ext UI Components-->
        <script type="text/javascript">document.getElementById('start-loading-msg').innerHTML = 'Loading UI Components...';
        </script>
        <%= javascript_include_tag "/ext/ext-all.js" %>
        <!--Loading Google Maps-->
        <script type="text/javascript">document.getElementById('start-loading-msg').innerHTML = 'Loading Google Maps...';
        </script>
        <%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAZ-CynyHsRnyqkMvbQ4_mNRTghONX_dgJZwt4gQDZa2QVe7NWOBSCz5wCioGpJwhDItmUKlcPdsuM5Q" %>
        <%= javascript_include_tag "http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAAZ-CynyHsRnyqkMvbQ4_mNRTghONX_dgJZwt4gQDZa2QVe7NWOBSCz5wCioGpJwhDItmUKlcPdsuM5Q" %>
        <%= javascript_include_tag "http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" %>
        <script type="text/javascript">
        	// decode language passed in url
            var locale = window.location.search ? Ext.urlDecode(window.location.search.substring(1)).locale : '';
            var lg = ' (' + (locale || 'en') + ')';
            document.getElementById('start-loading-msg').innerHTML = 'Loading languages' + lg + '...';
        </script>
		<% if params[:locale] %>
        <%= javascript_include_tag '/ext/source/locale/ext-lang-' + params[:locale] + '.js' %>
        <% end %>
        <script type="text/javascript">
            function msg_log(msg){
                try {
                    console.log(msg);
                } 
                catch (e) {
                    //alert('error : ' + e + '\nmsg : '+ msg);
                }
            }
			
            //Declares the name space of the application
            Ext.ns('NetShows');
            
            //AthenticityToken
            NetShows.key = '3890f2b6fb69ca90fe7e19bdedbe26c0ad165f89';
            
            //User logged in
            NetShows.user = {
                username: "<%= @username %>",
                firstname: "<%= @firstname %>",
                lastname: "<%= @lastname %>"
            }
        </script>
        <%= javascript_include_tag "NetShows.BrowserPanel.js" %>
        <%= javascript_include_tag "NetShows.EditorToolbar.js" %>
        <%= javascript_include_tag "NetShows.EditorAccordion.js" %>
        <%= javascript_include_tag "NetShows.EditorAccordion.External.js" %>
        <%= javascript_include_tag "NetShows.EditorAccordion.Animation.js" %>
        <%= javascript_include_tag "NetShows.EditorAccordion.Slide.js" %>
        <%= javascript_include_tag "NetShows.FolderWindow.js" %>
        <%= javascript_include_tag "NetShows.FontType.js" %>
        <%= javascript_include_tag "NetShows.MainPanel.js" %>
        <%= javascript_include_tag "NetShows.PresentationBrowser.js" %>
        <%= javascript_include_tag "NetShows.PresentationWindow.js" %>
        <%= javascript_include_tag "NetShows.SlideBrowser.js" %>
        <%= javascript_include_tag "NetShows.SlideView.js" %>
        <%= javascript_include_tag "Ext.form.ColorField.js" %>
        <%= javascript_include_tag "Ext.ux.FileTreeMenu.js" %>
        <%= javascript_include_tag "Ext.ux.FileTreePanel.js" %>
        <%= javascript_include_tag "Ext.ux.FileUploader.js" %>
        <%= javascript_include_tag "Ext.ux.UploadPanel.js" %>
        <%= javascript_include_tag "Ext.ux.SliderTip.js" %>
        <%= javascript_include_tag "Ext.ux.TabCloseMenu.js" %>
        <%= javascript_include_tag "Ext.ux.form.BrowseButton.js" %>
        <%= javascript_include_tag "Ext.ux.form.Spinner.js" %>
        <%= javascript_include_tag "Ext.ux.form.Spinner.Strategy.js" %>
        <%= javascript_include_tag "Ext.ux.dd.GridReorderDropTarget.js" %>
        <%= javascript_include_tag "SearchField.js" %>
        <%= javascript_include_tag "Slide.js" %>
        <%= javascript_include_tag "Element.js" %>
        <%= javascript_include_tag "GoogleMap.js" %>
        <%= javascript_include_tag "Ext.ux.HtmlEditorUsingGlobalToolbar.js" %>
        <!-- Set application localization javascript -->
		<% if params[:locale] %>
        <%= javascript_include_tag '/javascripts/NetShows.lang.' + params[:locale] + '.js' %>
        <% end %>
		
        <!--Initialization-->
        <script type="text/javascript">document.getElementById('start-loading-msg').innerHTML = 'Initializing...';
        </script>
        <%= javascript_include_tag "NetShows.js" %>
		
        <div id="header">
            <div style="margin: 5px; width: auto; float: left; clear: left;">
                <div style="float:left;">
                    <img src="/images/icons/user.png" border="0" />
                </div>
                <div style="float:left;margin-left:2px;top:-4px">
                    <%= @firstname + ' ' + @lastname %>
                </div>
            </div>
            <div style="width: 230px; float: right; clear: right;">
                <div style="margin: 5px; float: right; clear: right;">
                    <%= link_to "Logout", :controller => 'user', :action => 'logout' %>
                </div>
                <div id="form_lang" style="float: left; clear: left;margin:1px;">
                </div>
            </div>
        </div>
        <!-- Template used for Presentation preview -->
        <div id="preview-tpl" style="display:none;">
            <div class="post-data">
                <div style="width:250px;float:right;clear:right;">
                    <span class="created-date">{createdText} {created_at:date("F j, Y, g:i a")}</span>
                    <span class="updated-date">{updatedText} {updated_at:date("F j, Y, g:i a")}</span>
                </div>
                <h3 class="post-title">{text}</h3>
                <h4 class="post-author">{byText} {author:defaultValue("You")}</h4>
            </div>
            <div class="post-body">
                <p>
                    <h3>{descriptionTitle}</h3>
                    {description}
                </p>
                <p>
                    <h3>{tagsText}</h3>{tags}
                </p>
            </div>
        </div>
        <!-- Template used for Home Tab -->
        <div id="home-tab-tpl" style="display:none;">
            <div class="introduction">
                <h2 class="intro-title">{introTitle}</h2>
                <span class="intro-content">{introContent}</span>
            </div>
        </div>
        <div id="colorDialog">
        </div>
    </body>
</html>
